oslo.config

python-cinderclient
python-ceilometerclient
python-keystoneclient
python-muranoclient
python-novaclient
python-neutronclient
python-heatclient
python-glanceclient
python-saharaclient

paramiko
requests
unittest2
pyyaml
testresources
nose
SQLAlchemy
alembic
amqp
anyjson
gevent
importlib
keystonemiddleware
kombu
oslo.serialization
oslo.utils
pecan
psycopg2
stevedore
